*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;  
}
.paytone{
    font-family: 'Paytone One', sans-serif;
}
.middle{
    position: absolute;
    top: 40%;
    left: 63%;
    transform: translate(-50%,-50%);
}
.flex-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-colwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}
.flex-center-spacearound-colwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}
.flex-center-rowwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
}
.main-container{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
.column {
    padding: 20px; 
}
.left {
    height: 100.5vh;
    width: 25%; 
    background: linear-gradient(to top, #341e63 0%, #000000 100%);
}
.logo-container img{
    width: 85%;
    margin: auto;
}
.right {
    width: 75%;
    height: 100.5vh;
    border: 15px solid indigo; 
    background: linear-gradient(to top, #f702ce 0%, #000000 100%);;   
    color: #fff;
}
.score-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   }
.score{
    display: flex;
    justify-content: flex-start;
}
.highscore{
    display: flex;
    justify-content: flex-end;
}
.banner{
    width: 80%;
    margin-top: 20px;
}
.instructions,
.settings,
.buttons-container{
    display: none;
    margin: auto;
}
.thoughts-container #emoji-carousel,
.thoughts-container #emoji-counter{
    position: absolute;
    top: 100px;
}
.emoji-sequence-container,
.player-sequence-container{
    width: 150px;    
    height: 200px;
    position: absolute;
}
.player-sequence-container{
    top: 10%;
}
.emoji-sequence-container{
    top: 20%;
}
.emoji-carousel{
    margin: 25px auto;
    width: 80%;
}
.emoji-counter{
    margin-bottom: 5px;
    color:#fff;
}
.player-carousel{
    margin: 20px auto;
    width: 100%;
}
.emojiButton{ 
    bottom: 20%;
    width: 10%;
    cursor: pointer;
    margin: 0 5px 0 5px; 
}
.buttons-container{
    position: fixed;
    bottom: 10px;
}
.instructions{
    margin-top: 25px;
    width: 60%;
}
.settings{
    margin-top: 25px;
    width: 60%;
}
.music p{
    margin-top: 20px;
}
.active{

    display: block;
}
audio{
    display: none;
}
.menu-btn,
.check-btn{
    height: 10vh;
    text-align: center;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 40px;
    box-shadow: 5px 5px 5px #000;
    background: indigo;
    color: #fff;
    cursor: pointer;
}
.menu-btn{
    width: 90%;
    margin: 6px auto;
}
.menu-btn:nth-of-type(1){
    margin-top: 20px;
}
.logo-container p{
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    bottom: 0px;
    font-size: 9px;
    color: gainsboro;
} 
.buttons-container{
    height: 35vh;

}
.check-btn{
    position: absolute;
    left: 35%;
    color: #fff;
    width: 30%;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid black;
    background: indigo;
    box-shadow: 5px 5px 5px #000;
    margin: 80px auto;
    cursor: pointer;
}
.button{
    width: 100px;
    border-radius: 30px;
    background: indigo;
    color: #fff;
    cursor: pointer;
    border-color: black;   
}

/*** Media Queries - Default is based on Small Devices (731px to 823px) ***/

@media only screen and (max-width: 730px) and (orientation: landscape){
    .banner{
        margin-top: 40px;
    }
    .logo-container{
        padding: 0;
    }
    .logo-container img{
        width: 100%;
    }
    .instructions p,
    .settings p{
        font-size: 12px;
    }
    .menu-btn{
        width: 87%;
        padding: 5px;
        font-size: 11px;
    }
    .check-btn{
        margin-top: 60px;
        width: 35%;
        font-size: 12px;
        left: 32%;
    }
    .logo-container p{
        font-size: 8px;
    }
    .player-sequence-container{
        height: 110px;
        top: 20%;
      }
    .player-carousel{
        margin: 20px auto;
        width: 60%;
    }
    .emojiButton{ 
        margin: 0 3px 0 3px; 
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape){
    .banner{
        margin-top: 160px;
    }
    .logo-container img{
        width: 100%;
    }
    .menu-btn{
        width: 90%;
        margin-top: 15px;
        padding: 5px;
    }
    .menu-btn:nth-of-type(1){
        margin-top: 50px;
    }
    .emoji-sequence-container,
    .player-sequence-container{
        width: 350px;    
        height: 350px;
        position: absolute;
    }
    .player-sequence-container{        
        top: 15%;
    }
    .emoji-carousel{
        width: 70%;
    }
    .player-carousel{
        width: 80%;
    }
    .emojiButton{ 
        margin-top: 20px;
        width: 10%;
    }
    .check-btn{
        margin: 130px auto;
    }
}

@media only screen and (min-width: 1200px) and (orientation: landscape){
    .banner{
        margin-top: 30px;
        width: 70%;
    }
    .menu-btn:nth-of-type(1){
        margin-top: 20px;
    }
    .menu-btn{
        margin-top: 5px;
    }
    .player-sequence-container{
        width: 350px;    
        height: 250px;
    }
    .player-carousel{
        width: 60%;
    }
    .check-btn{
        width: 20%;
        left: 37%;
    }
}

@media only screen and (min-width: 1500px) and (orientation: landscape){
    .banner{
        margin-top: 120px;
    }
    .menu-btn:nth-of-type(1){
        margin-top: 40px;
    }
    .menu-btn{
        width: 70%;
        margin: 8px auto;
        font-size: 24px;
    }
    .logo-container p{
        font-size: 12px;
    }
    .emoji-sequence-container{
        width: 400px;    
        height: 450px;
    }
    .player-sequence-container{
        width: 400px;    
        height: 350px;
    }
    .emoji-carousel{
        width: 85%;
    }
    .player-carousel{
        margin-top: 30px;
        width: 80%;
    }
    .check-btn{
        margin-top: 190px;
        width: 20%;
        left: 37%;
        font-size: 24px;
    }
}